<div class="tile@(Selected ? " selected" : "" )" @onclick="@Click">@DisplayNumber</div>

@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public int Number { get; set; }

    [Parameter]
    public bool Selected { get; set; }

    [Parameter]
    public EventCallback<int> OnClick { get; set; }

    public void UpdateNumber(int number)
    {
        Number = number;
        StateHasChanged();
    }

    public void UpdateSelected(bool selected)
    {
        Selected = selected;
        StateHasChanged();
    }

    private void Click() => OnClick.InvokeAsync(Index);

    private string DisplayNumber => Number == 0 ? "" : Number.ToString();
}
