html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.board {
    display: grid;
    font-family: Avenir, Heveltica, sans-serif;
    grid-template-columns: repeat(9, 7.8vmin);
    grid-template-rows: repeat(9, 7.8vmin);
    justify-content: center;
    align-content: center;
    grid-gap: 0rem;
    list-style: none;
    margin: 0 0 2vmin;
    padding: 0;
    font-size: calc(2.5vmin + 10px);
}

.tile {
    margin: 0;
    padding: 0;
    text-align: center;
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0.125vmin 0.125vmin 0.125vmin 0.125vmin;
}

    .tile:nth-child(-n + 9) {
        border-top-width: 0.5vmin;
    }

    .tile:nth-child(-n + 36):nth-child(n + 28) {
        border-top-width: 0.5vmin;
    }

    .tile:nth-child(-n + 63):nth-child(n + 55) {
        border-top-width: 0.5vmin;
    }

    .tile:nth-child(n + 73) {
        border-bottom-width: 0.5vmin;
    }

    .tile:nth-child(3n + 1) {
        border-left-width: 0.5vmin;
    }

    .tile:nth-child(9n) {
        border-right-width: 0.5vmin;
    }

.selected {
    background-color: Highlight;
}
